.NowLine {
    width: 100%;
    height: 3px;
    background: red;
    position: absolute;
    transition: top 0.5s;

    div.time-container {
        position: absolute;
        width: 100%;
        height: 100%;

        span.time {
            background-color: #eee;
            position: absolute;
            right: 0;
        }
    }
}
