.TimeTable {
    display: flex;
    --height: 100vh;
    height: var(--height);
    max-width: 100vw;

    .hours {
        position: relative;
        flex-basis: 60px;

        .hour {
            position: absolute;
        }
    }
}
