.TimeTableItem {
    width: 100%;
    position: absolute;
    padding: 10px;
    border-style: solid;
    border-width: 1px 1px 1px 6px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    p {
        font-size: 1.3em;
        margin: 0 0 3px;
    }

    small {
        display: block;
        color: #677883;
        line-height: 1.2em;
        font-size: 1.1em;
    }
    .info {
        margin: 0.3em 0;
        margin-bottom: 5px;
        small {
            font-size: 1em;
            display: initial;
            color: #39444b;

            $m: 3px;
            svg {
                margin: 0 $m;
                transform: translateY(14.5%);
            }

            &:first-child {
                margin: -$m;
            }
        }
    }
}
