.TimeTable {
    height: 100%;
    width: 100%;
    &__inner {
        display: flex;
        height: var(--height);
        width: 100%;

        .hours {
            position: relative;
            flex-basis: 60px;

            .hour {
                position: absolute;
            }
        }
    }
}
